<header class="header position-relative bg-dark text-white">
    <div class="overlay position-absolute w-100 h-100 bg-dark bg-opacity-50"></div>
    <div class="container position-relative text-center py-5">
        <h1 class="display-4 mt-4">نبذة عنا</h1>
        <div class="navigation pt-2">
            <a routerLink="" class="btn btn-outline-light">العودة للصفحة الرئسية</a>
        </div>
    </div>
</header>

<section class="my-5 py-5">
    <div class="container">
        <h2 class="mb-4">عن حكايات العروي</h2>
        <div class="row align-items-center">
            <div class="col-md-7 about-text">
                <p>
                    "حكايات العروي" هي مجموعة من القصص الشعبية التي رواها الإعلامي والمؤرخ التونسي عبد العزيز العروي.
                    هذه الحكايات التي تأخذنا إلى أعماق التراث العربي تعكس الحياة اليومية والتجارب الإنسانية التي عاشتها
                    الأجيال الماضية في تونس والعالم العربي.
                </p>
                <p>
                    برع عبد العزيز العروي في إحياء هذه القصص بلسان بسيط وشيق، مما جعلها تحظى بشعبية واسعة لدى الجمهور.
                    كل قصة تحمل معها دروسًا في الحياة، وتمزج بين القيم الأخلاقية والفكاهة والواقع، مما يجعلها ليست مجرد
                    سرد لحكايات قديمة،
                    بل توثيق لثقافة كاملة تعكس روح المجتمعات العربية.
                </p>
            </div>
            <div class="col-md-5 about-image">
                <img src="assets/images/about.jpeg" alt="عبد العزيز العروي يحكي" class="img-fluid rounded shadow">
            </div>
        </div>
    </div>
</section>